.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 60s linear;
  height: 80px;
}

.App-header {
  background-color: #0e3054;
  height: 150px;
  padding: 20px;
  color: tomato;
}

.App-intro {
  font-size: large;
}

.App .signature{
  width: 200px;
  position: fixed;
  bottom: 20px;
  right: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
