.input-container{
    padding: 10px;
    width: 100%;
    min-height: 200px;
    background-color: gainsboro;
    text-align: left;
}

.sendbutton{
    display: block;
    border-radius: 3px;
    border: solid 1px black;
    background-color: dimgray;
    color: white;
}